<!DOCTYPE html>
<html>
  <head>
    <title>Wikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <a href="/articles" class="navbar-brand">Wikinimous</a>
      <a href="/articles/new" class="btn btn-outline-primary my-2 my-sm-0">New Article</a>
    </nav>

    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
